<div class="container parent">
    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">This is a simple Application that generates random phone numbers.</p>
        <hr class="my-4">
        <div class="clearfix">
            <button type="button" class="btn btn-danger float-left">
                Total Phone Numbers <span class="badge badge-light">{{phoneNumbersCount}}</span>
            </button>
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle sort-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="sortNumbersAsc()">Ascending</a>
                    <a class="dropdown-item" (click)="sortNumbersDes()">Descending</a>
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary float-right" (click)="createAPhoneNumber()">
                Generate Number
            </button>
        </div>  
        <div class="spinner-border phone-generator-spinner" role="status" *ngIf="inProgress">
            <span class="sr-only">Loading...</span>
        </div> 
        <div class="numbers-container">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">All Phone Numbers</p>
                    <ul *ngFor="let phoneNumber of phoneNumbers">
                        <li>{{phoneNumber}}</li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">Minimum Number</h5>
                            <div class="card-body">
                                <p class="card-text">{{minimumNumber}}</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">Maximun Number</h5>
                            <div class="card-body">
                                <p class="card-text">{{maximumNumber}}</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>